body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
/**{
  border: 1px solid red;
}*/
a{
  outline: 0;
}
h1{

  /*font-weight: bold;
  text-transform: capitalize !important;*/
}
 h2, h3, h4, h5, h6{
  /*font-family: 'Shadows Into Light', cursive;*/
  font-size: 4em !important;
  text-transform: uppercase;
  margin: 0;
  color: black !important;
}
p, li {
  font-size: 1.2em;
  margin: 0;

}
li{
  list-style: none;
}
ul{
  padding: 0;
}
.box{
  max-width: 1200px;
  margin: 0 auto;
}

/*topp*/

#top{
  position: relative;
  background-image: url(../img/surf-level.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
.top-cont{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.top-cont h2{
  color: white !important;
  font-size: 5em !important;
  line-height: 1.1em;
  padding-top: 1em;
}
.top-cont h1{
  margin: 0;
  text-transform: uppercase;
  color: #10c18a;
  font-size: 2em;
}
.shadow{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
/*top*/

/*header*/
#header{
  /*height: 700px;*/

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.lang {
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.lang ul {
  width: 100%;
  text-align: right;
  margin: 0;
}
.lang ul li{
  display: inline-block;
  line-height: 40px;
}
.lang a {
  font-size: .8em;
  font-weight: bold;
  color: white;
  padding: 0 10px;
  text-decoration: none;
  /*transition: .75s;*/
}
.nav{
  margin-top: 15px;
}
.nav ul {
  width: 100%;
  text-align: right;
}
.nav ul li{
  display: inline-block;
  margin-left: 30px;
}
.nav a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  /*transition: .75s;*/
}

/*header*/
#header a:hover{
  color: #10c18a;

}
#header a.active{
  color: #10c18a;
  background-color: rgba(0, 0, 0, 0.5);
}

/*makaha expericen*/
#makaha-exp{
  position: relative;
  padding: 80px 0;
}
.experience{
  padding: 3em 0;
}
.experience-cont{
  padding: 0 160px;
}
.experience-cont h2 {
  padding-bottom: 5px;
}
.experience-cont h3{
  font-size: 1.5em !important;
  color:#10c18a !important;
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding-bottom: 20px;
}
.experience-cont p {
  padding-top: 5px;

  line-height: 2em;
  text-align: center;
}
.experience-cont img {
  border-radius: 50%;

}
.experience-cont .founder{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.social{
  position:fixed;
  width: 100%;
  text-align: right;
  top: 300px;
}
.up{
  float: right;
}
.up-box{
  border: 2px solid #10c18a;
  height: 50px;
  border-radius: 5px 0 0 5px;
}
.up-img{
  padding-top: 8px;
}


/*makaha experience*/

/**destination*/

#destination{
  background-image: url(../img/miraflores2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  display: flex;
  min-height: 700px;
  /*position: relative;*/
}
.none{
  width: 62%;
}
.here{
  width: 38%;
  background: black;
  color: white;
}
.here-title, .here-subtitle{
  color: white!important;
}
.here-title{
  padding-bottom: 15px;
}
.here-text{
  padding: 60px 40px;
}
.here-subtitle{
  font-size: 1.5em !important;
  color:#10c18a !important;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 15px;
}
.here-p{
  padding-top: 15px;
}
.here-btn{
  padding-top: 40px;
  text-align: right;
}
/*lessons*/
#lessons{
  min-height: 700px;
  display: flex;
}
.lessons{
  width: 62%;
}
.lessons-img{
  width: 38%;
  background-image: url(../img/lessons.jpg);
  background-position: center;
  background-size: cover;
}
.lessons-text{
  padding: 60px 40px;
}
.lessons-title{
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding-bottom: 15px;
}
.lessons h2, .lessons-title{
  text-align: right;
}
.lessons h2{
  padding-bottom: 15px;
}
.lessons-p {
  padding-top: 5px;
  text-align: right;
}
.lessons-2 {
  padding-top: .5em;
}
.lessons-btn{
  text-align: left;
  padding-top: 25px;
}
/*levels*/
#surf-level{
  background: black;
  /*url(../img/surf-level.jpg)*/
  background-attachment: fixed;
  background-position: center;
}
.surf-level-megatitle{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  text-align: center;
  color: white !important;
}
.levels{
  display: flex;
  padding: 20px 0;
}
.level-1, .level-2{
  padding:40px;
  color: white;
}
.level-title, .level-subtitle{
  text-align: center;
  color: white !important;
}
.level-subtitle{
  padding-bottom: 15px;
}
.levels p{
  color: white !important;
}
.level-li{
  padding-bottom: 15px;
  color: white !important;
}
.surf-level-cont{
  padding: 30px 0;
}
/*hostels*/
#hostels{
  min-height: 700px;
  background-image: url(../img/miraflores1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
}
.logos{
  width: 62%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos-img{
  flex-wrap: wrap;
  text-align: center;
}

.hostels{
  width: 38%;
  background-color: white;
}
.hostels-text{
  padding: 60px 40px;
}
.hostels-title{
  text-align: right;
}
.hostels-subtitle{
  text-align: right;
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding-bottom: 15px;
}
.hostels-text p{
  padding-top: 1em;
  text-align: right;
}

/*overview*/
/*guide*/
#guide{
  min-height: 400px;
  display: flex;
}
.guide{
  width: 62%;
  background-color: black;
}
.car{
  width: 38%;
}
.guide-text{
  padding: 60px 40px;
}
.guide-text h3{
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 15px;
}
.guide-text h2{
  color: white !important;
}
.guide-text p{
  color: white !important;
  padding-top: 1em;
}
.car{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(../img/car-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.car img{
  transform: rotate(-10deg) scale(.65) translateX(80px);
}
/*overview*/
#overview{
  display: flex;
  min-height: 600px;
}
.fotos{
  width: 62%;
}
.overview{
  width: 38%;
  background-color: black;
}
.overview-text{
  padding: 60px 40px;
  text-align: right;
}
.overview-text h2{
  color: white !important;
}
.overview-text h3{
  color: white !important;
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 15px;
}
.overview-text p{
  color: white !important;
}
.overview-text .overview-btn{
  padding-top: 80PX;
  text-align: left;
}
.picBox{
  /*border: 1px solid red;*/
  background-color: black;
  height: 180PX;
  width: 180PX;
  overflow: hidden;
}
figure{
  margin: 0;
  transition: .75s;
}
figure:hover{
  transform: scale(1.1);
}
.p1{
  height: 100%;
  width: 100%;
  background-image: url(../img/over1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p2{
  height: 100%;
  width: 100%;
  background-image: url(../img/over2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p3{
  height: 100%;
  width: 100%;
  background-image: url(../img/over3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p4{
  height: 100%;
  width: 100%;
  background-image: url(../img/over4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p5{
  height: 100%;
  width: 100%;
  background-image: url(../img/over5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p6{
  height: 100%;
  width: 100%;
  background-image: url(../img/over6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p7{
  height: 100%;
  width: 100%;
  background-image: url(../img/over7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p8{
  height: 100%;
  width: 100%;
  background-image: url(../img/over8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fotos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos-cont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*driver*/
#driver .overview{
  background-color: black;
}
#driver{
  display: flex;
}
#driver h2{
  text-align: left;
}
#driver h3{
  text-align: left;
}
#driver p{
  text-align: left;
}
#driver .overview-btn{
  text-align: right;
}
.p9{
  height: 100%;
  width: 100%;
  background-image: url(../img/p9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p10{
  height: 100%;
  width: 100%;
  background-image: url(../img/p10.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p11{
  height: 100%;
  width: 100%;
  background-image: url(../img/p11.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p12{
  height: 100%;
  width: 100%;
  background-image: url(../img/p12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p13{
  height: 100%;
  width: 100%;
  background-image: url(../img/p13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p14{
  height: 100%;
  width: 100%;
  background-image: url(../img/p14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p15{
  height: 100%;
  width: 100%;
  background-image: url(../img/p15.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.p16{
  height: 100%;
  width: 100%;
  background-image: url(../img/p16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*textBox*/
#text-box{

}
.text-cont h3{
  text-align: center;
}
/*tips*/
#tips{
  background-image: url(../img/background3.jpg);
  background-position: center;
  background-size: cover;

}
.tips{
  padding: 3em 0;
  font-size: 1.2em;
}
.tips h6{
  font-size: 1.5em;
  text-align: center;
  color: white !important;
}
.tips-cont{

  padding: 30px 160px;
  background-color:rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  justify-content: center;
}
.tips-cont li{
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 10px;
  color: white !important;
}
/*contacto*/
#contact{
  height: 750px;
}
.contact-cont{
  display: flex;
  height: inherit;
}
.mensaje, .form{
  width: 50%;
}
.form{
  background: black;
  height:inherit;
}
.form form h3{
  /*font-size: 1.5em !important;*/
  color: white !important;
  padding-bottom: 30px;
}
.form-box{
  display:block;
  padding: 150px 150px 100px 70px;
}
input, textarea{
  text-decoration: none;
  border: none;
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
  width: 100%;
  outline: 0;
}
.input-name, .input-email, .input-text{
  margin-bottom: 25px;
  line-height: 35px;
  font-size: 1em !important;
}
.input-text{
  font-size: 1em !important;
}
.mensaje-cont{
  padding: 0 40px;
  padding-top: 150px;
}
.mensaje-cont h3{
  /*font-size: 3em !important;*/
}
.btn {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    border: 3px solid #fff;
    color: #10c18a;
    font-size: 1.2em;
    line-height: 35px;
    padding: 0 18px;
    transition: all .4s ease;
    background: none;
    position: relative;
    cursor: pointer;
    outline: 0;
}
.btn-color {
  border-color: #10c18a;
}
.btn:hover{
  color: white;
  background: #10c18a;
}
.form-boton{
  width: 100%;
}
.mensaje-color{
  color: #10c18a;
}
/*footer*/
#footer{
  min-height: 180px;
  background-color: #10c18a;
}
.social-footer a{
    position: relative;
      width: 50px;
      height: 50px;
      background-color: rgba(255,255,255,.1);
      border-radius: 50%;
      display: block;
      margin-right: 10px;
}
.social-footer .facebook:before{
  display: block;
  top: 5px;
  left: 5px;
  background-image: url(../img/facebook.png);
  background-size:  50px 50px;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}
.social-footer .insta:before{
  display: block;
  top: 5px;
  left: 5px;
  background-image: url(../img/instagram.png);
  background-size:  50px 50px;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}
.social-footer .app:before{
  display: block;
  top: 5px;
  left: 5px;
  background-image: url(../img/whatsapp.png);
  background-size:  50px 50px;
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
}
.footer-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-footer{
  padding: 10px 30px;
}
.social-footer ul{
  display: flex;
}
.nav-footer{
  padding-right: 20px;
}
.nav-footer ul{
  display: flex;
  flex-wrap: wrap;
}
.nav-footer ul li{
  padding: 0 15px;
}
.nav-footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}
.autor{
  text-align: center;
  color: white;
  border-top: 1px solid rgba(255,255,255, .3);
}
.autor p{
  padding-top: 20px;
  font-size: .9em;
}
/*fix menu*/
#fix-menu.active{
  height: 100vh;
}
.active .fix-nav{
  display: block;
}
.active .fix-social{
  display: block;
}
/*fi menu*/
#fix-menu{
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(0, 0,0, .8);
  z-index: 5;
}
.fix-menu a{
  text-decoration: none;
}
.fix-menu a h2{
  color: #10c18a !important;
}
.fix-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.active .fix-menu{
  padding-bottom: 0;
}
.fix-nav{
  display: none;
}
.fix-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.fix-nav li{
  text-align: center;
  padding:  20px 0;
  font-size: 1.5em;
}
.fix-nav li a {
  color: #10c18a;
  text-decoration: none;
}
.fix-social{
  display: none;
}
.fix-social {
  text-align: center;
}
.fix-social a {
  padding: 0 15px;
}
.hide{
  display: flex;
  align-items: center;
  height: 100%;
  align-items: flex-start;
}
.hide-cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.forms-box-head{
  display: flex;
  justify-content: space-between;
}
.forms-box-head a{
  display: none;
  animation: zoom 1s alternate infinite;
  will-change: transform;
}
@keyframes zoom {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.open .forms-box-in{
  display: block;
}
/*responsive*/

@media screen and (max-width:1000px) {
  h2, h4, h6{
    font-size: 3em !important;
  }

  #surf-level h4 {
    font-size: 3em !important;
  }
}
@media screen and (max-width:800px){
  .forms-box-head a{
    display: block;
  }
  .forms-box-in{
      display: none;
  }
  #hostels .logos, .hostels{
    display: none;
  }
  #guide .guide, .car{
    display: none;
  }
  #overview .fotos, .overview{
    display: none;
  }
  #overview{
    min-height: inherit;
  }
  #fix-menu{
    display: block;
  }
  #header{
    display: none;
  }
  .social{
    display: none;
  }

  #top h1{
    font-size: 1.25em!important;
  }
  #top h2{
    font-size: 3em!important;
  }
  h2, h4, h6{
    font-size: 1.5em !important;
  }

  #surf-level h4 {
    font-size: 1.5em !important;
  }
  #surf-level li{
    font-size: .9em!important;
  }
  p{
    font-size: .9em!important;
  }
  .tips-cont li{
    font-size: .9em!important;
    padding: 0;
  }
  button{
    font-size: .9em!important;
  }
  #makaha-exp{
    padding: 80px 0 30px;
    text-align: left;
  }
  .experience{
    padding: 0;
  }
  .experience-cont {
    padding: 0 30px;
  }
  .experience-cont p{
      text-align: left !important;
  }
  .founder{
    display: block !important;
  }
  #destination{
    display: block;
    min-height:inherit;
  }
  .here{
    width: 100%;
  }
  .none{
    display: none;
  }
  #lessons{
    display: block;
    min-height:inherit;
  }
  .lessons{
    width: 100%;
  }
  .lessons-text h2, .lessons-1 h3, .lessons-2 h3{
    text-align: left;
  }
  .lessons-1 p, .lessons-2 p{
    text-align: left;
  }
  .lessons-btn{
    text-align: right;
  }
  .surf-level-megatitle{
    padding: 0;
  }
  .level-1, .level-2{
    padding: 20px;
    padding-bottom: 0;
  }
  .surf-level-cont{
    padding-bottom: 0;
  }
  #hostels{
    display: block;
    min-height:inherit;
  }
  .hostels{
    width: 100%;
  }
  .hostels-text h4, .hostels-subtitle {
    text-align: left;
  }
  .hostels-text p{
    text-align: left;
  }
  .logos{
    width: 100%;
    background: black;
    border-top: 3px solid #10c18a;
    box-sizing: border-box;
    padding-top: 50px;
  }
  .logos-img img{
    width: 100px;
    padding: 10px;
  }
  #guide{
    display: block;
    min-height: inherit;
  }
  .guide{
    width: 100%;
  }
  .car{
    width: 0;
  }
  .car img{
    position: absolute;
  right: 0;
  transform: translateY(-280px)translatex(0px) rotate(-5deg) scale(.6);
  }
  #overview{
    display: block;
  }
  .fotos{
    width: 100%;
    background: black;
  }
  .overview{
    width: 100%;
  }
  #driver .fotos-cont{
    display: none;
  }
  #contact{
    height: auto;
  }
  .contact-cont{
    display: block;
  }
  .mensaje, .form{
    width: 100%;
  }
  .mensaje-cont{
    padding: 0;
    text-align: center;
  }
  .mensaje-cont h3{
    font-size: 3em !important;
  }
  .form-box{
    padding: 20px 20px;
  }
  .footer-cont{
    display: none;
  }
  #footer{
    min-height: 50px;
  }
  .autor p{
    padding: 15px 0;
  }
  .form form h3, .form-title{
    font-size: 1.2em !important;
  }
  .tips{
    padding: 0;
  }
  #tips h6{
    font-size: 3em !important;
  }
  .tips-cont{
    padding: 20px;
  }
  .tips ul{
    margin-left: 50px;
  }
}

@media screen and (max-width:321px) {
  #fix-menu #ipod4 {
    padding: 10px 0 !important;
  }
  .fix-social{
    padding-top: 0;
  }
}
#ipod4 .active{
  color: white !important;
}
