body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
/**{
  border: 1px solid red;
}*/
ul{
  padding: 0;
}
a{
  outline: 0;
}
h1, h2 , h3, h4, h5, h6{
  margin: 0;
  text-transform: uppercase;
  /*font-weight: bold;
  text-transform: capitalize !important;*/
}
/*fix menu*/
#fix-menu.active{
  height: 100vh;
}
.active .fix-nav{
  display: block;
}
.active .fix-social{
  display: block;
}
#fix-menu{
  position: fixed;
  width: 100%;
  background: rgba(0, 0,0, .8);
  z-index: 5;
}
.fix-menu a{
  text-decoration: none;
}
.fix-menu a h2{
  color: #10c18a !important;
}
.fix-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.active .fix-menu{
  padding-bottom: 0;
}
.fix-nav{
  display: none;
}
.fix-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.fix-nav li{
  text-align: center;
  padding:  20px 0;
  font-size: 1.5em;
}
.fix-nav li a {
  color: #10c18a;
  text-decoration: none;
}
.fix-social{
  display: none;
  padding-top: 100px;
}
.fix-social {
  text-align: center;
}
.fix-social a {
  padding: 0 15px;
}


#top{
  position: relative;
  background-image: url(../img/surf-level.jpg);
  background-size: cover;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}
.top-cont{
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.top-cont h2{
  color: white !important;
  font-size: 2.5em !important;
  line-height: 1.1em;
  padding-top: 1em;
}
.top-cont h1{
  margin: 0;
  text-transform: uppercase;
  color: #10c18a;
  font-size: .9em;
}
.shadow{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}


#hostels{
  min-height: 700px;
  background-color: #10c18a;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
.logos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logos-img{
  flex-wrap: wrap;
  text-align: center;
}
.logos-img img{
  width: 100px;
  padding: 15px;
}

.hostels{
  width: 100%;
  background-color: white;
}
.hostels-text{
  padding: 60px 10px;
}
.hostels-title{
  text-align: left;
}
.hostels-subtitle{
  text-align:left;
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding-bottom: 15px;
}
.hostels-text p{
  padding-top: 1em;
  text-align: left;
}
.hostels-btn{
  text-align: right;
}
#contact{
}
.contact-cont{
  height: inherit;
}
.form{
  width: 100%;
}
.form{
  background: black;
  height:inherit;
}
.form form h3{
  /*font-size: 1.5em !important;*/
  color: white !important;
  padding-bottom: 0;
}
.form-box{
  display:block;
  padding: 20px;
}
.forms-box-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forms-box-in{
  display: none;
}
.open .forms-box-in{
  display: block;
}
input, textarea{
  text-decoration: none;
  border: none;
  color: white;
  background-color: black;
  border-bottom: 1px solid white;
  width: 100%;
  outline: 0;
}
.input-name, .input-email, .input-text{
  margin-bottom: 25px;
  line-height: 35px;
  font-size: 1em !important;
}
.input-text{
  font-size: 1em !important;
}
.mensaje-cont{
  padding: 0 40px;
  padding-top: 150px;
}
.mensaje-cont h3{
  /*font-size: 3em !important;*/
}
.btn {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    border: 3px solid #fff;
    color: #10c18a;
    font-size: 1.2em;
    line-height: 35px;
    padding: 0 18px;
    transition: all .4s ease;
    background: none;
    position: relative;
    cursor: pointer;
    outline: 0;
}
.btn-color {
  border-color: #10c18a;
}
.btn:hover{
  color: white;
  background: #10c18a;
}
.form-boton{
  width: 100%;
}
.mensaje-color{
  color: #10c18a;
}

#footer{
  min-height: 50px;
  background-color: #10c18a;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer p{
  margin: 0;
  color: white;
  text-align: center;
}

#guide{
  min-height: 400px;
}
.guide{
  width: 100%;
  background-color: black;
}
.car{
  width: 100%;
}
.guide-text{
  padding: 60px 10px;
}
.guide-text h3{
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 15px;
}
.guide-text h2{
  color: white !important;
}
.guide-text p{
  color: white !important;
  padding-top: 1em;
}
.car{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.car img{
  transform: rotate(-10deg) scale(.65) translateX(80px);
}
.overview-text{
padding: 20px 10px;
}
.overview-text h3{
  font-size: 1.5em !important;
  color: #10c18a !important;
  border-bottom: 1px solid rgba(255,255,255,.5);
  padding-bottom: 15px;
}

.hide{
  display: flex;
  align-items: center;
  height: 100%;
  align-items: flex-start;
}
.hide-cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.surf-slide{
  height: 200px;
  width: 100%;
  padding-bottom: 15px;
}
.mySlides{
  width: 100%;
  height: 100%;
}
.w3-content{
  width: 100%;
  height: 100%;
  position: relative;
}
.w3-display-bottommiddle{
  position: absolute;
  bottom: 80px;
  display:flex;
  justify-content: space-between;
  width: 100%;

}
.w3-left{
  padding-left: 12px;
  zoom: 1.5;
  color: #10c18a;
}
.w3-right{
  padding-right: 12px;
  zoom: 1.5;
  color: #10c18a;
}

@media screen and (max-width:321px) {
  #fix-menu #ipod4 {
    padding: 10px 0 !important;
  }
  .fix-social{
    padding-top: 0;
  }
}
#ipod4 .active{
  color: white !important;
}
